@media only screen and (max-width: 500px) {
  .content__imageBox {
    height: 11rem;
  }

  .content__imageBox2 {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
}
