@media only screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-rows: repeat(3, 25rem);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap: 1rem;
    align-items: center;
    position: relative;

    &__item:last-child {
      position: absolute;
      width: 50%;
      height: 25rem;
      left: 25%;
      bottom: -2rem;
      top: 65%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .recommendsContainer {
    display: grid;
    grid-template-rows: repeat(2, 22rem);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;

    &__item {
      width: 95%;
      display: block;
      margin: 3rem auto;
    }

    &__item:last-child {
      position: relative;
      width: 95%;
      left: 0;
      bottom: 0;
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .content__imageBox {
    height: 11rem;
  }

  .content__imageBox2 {
    height: 2.5rem;
  }

  .recommendsContainer {
    grid-template-rows: repeat(2, 15rem);
  }
}
