.recommendSection {
  width: 95%;
  margin: 5rem auto;
}

.title {
  font-size: 2rem;
}

.recommendsContainer {
  display: grid;
  grid-template-rows: 20rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0;

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 80%) 0 2.6rem 3rem -1rem,
      rgb(0 0 0 / 72%) 0 3rem 2rem -1rem;
    border: 3px solid rgba(249, 249, 249, 0.1);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      border-color: white;
      transform: scale(1.05);
      box-shadow: rgb(0 0 0 / 80%) 0 4rem 6rem -1.6rem,
        rgb(0 0 0 / 72%) 0 3rem 2rem -1rem;
    }

    img {
      border-radius: 7px;
    }
  }
}

@import "../utilities/mediaQueries.module.scss";
