.container {
  width: 95%;
  margin: 3rem auto;
  display: grid;
  grid-template-rows: 18rem;
  grid-template-columns: repeat(5, minmax(22rem, 27rem));
  justify-content: space-between;
  grid-gap: 5px;
  align-items: center;

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 3px solid rgba(249, 249, 249, 0.1);
    border-radius: 1rem;

    &:hover {
      border-color: white;
      transform: scale(1.05);
      box-shadow: rgb(0 0 0 / 80%) 0 4rem 6rem -1.6rem,
        rgb(0 0 0 / 72%) 0 3rem 2rem -1rem;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

@import "../utilities/mediaQueries.module.scss";
