* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Avenir-Roman, sans-serif;
  background-color: #040714;
  color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}
