.main {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.container {
  height: calc(100vh - 67.2px);
  background-image: url(../public/images/login-background.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}
